<%- include layouts/header.ejs %>
    <body style="background-color: gray">
        <div style="padding: 10px 10px 10px 10px;">
            <h2 style="color:white;">Artists!<h2>
            <div>
                <button onclick="toHome()" class="btn btn-primary">Home</button>
                <button onclick="toAlbums()" class="btn btn-primary">Albums</button>
                <button onclick="toSongs()" class="btn btn-primary">Songs</button>
                <button onclick="toBillboards()" class="btn btn-primary">Billboards</button>
            </div>
            <hr>
            <table class="table table-hover table-dark" border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th scope="col" width="50px">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Formation date</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Band members</th>
                    <th scope="col">Details</th>
                </tr>
                <% if(data.length > 0){ 
                        for(var i = 0;i < data.length;i++) { %>
                    <tr>
                        <td><%=(i+1)%></td>
                        <td><%=data[i].name%></td>
                        <td><%=data[i].formation_date%></td>
                        <td><%=data[i].manager%></td>
                        <td><%=data[i].no_members%></td>
                        <td><button  onclick="toArtistDetails('<%= data[i].artist_id %>')" class="btn btn-primary">See details</button></td>
                    </tr>
                <% }
                
                }else{ %>
                        <tr>
                        <td colspan="3">No Artists</td>
                        </tr>
                <% } %>
            </table>
        </div>
    <%- include layouts/footer.ejs %>