<%- include layouts/header.ejs %>
<body style="background-color: gray">
        <div style="padding: 10px 10px 10px 10px;">
            <h2 style="color:white;">Songs!<h2>
            <div>
                <button onclick="toHome()" class="btn btn-primary">Home</button>
                <button onclick="toArtists()" class="btn btn-primary">Artists</button>
                <button onclick="toAlbums()" class="btn btn-primary">Albums</button>
            </div>
            <hr>
            <table class="table table-hover table-dark" border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th scope="col" >Name</th>
                    <th scope="col" >Release date</th>
                </tr>
                <% if(data.length > 0){ 
                        for(var i = 0;i < data.length;i++) { %>
                    <tr>
                        <td><%=(i+1)%></td>
                        <td><%=data[i].name%></td>
                        <td><%=data[i].release_date%></td>
                    </tr>
                <% }
                
                }else{ %>
                        <tr>
                        <td colspan="3">No Albums</td>
                        </tr>
                <% } %>
            </table>
        </div>
    <%- include layouts/footer.ejs %>